<p style="color: green"><%= notice %></p>

<h1>Bitcoin Core 27.0 Release Candidate Test Guide</h1>
<h3>PR Notes</h3>

<%= form_with class: "sort-selectors-form", url: sorted_pull_requests_path(),
              method: :post,
              data: {
                "turbo-frame": "pull-requests-index",
                "controller": "submit-on-change",
                "action": "change->submit-on-change#change",
                "submit-on-change-target": "form"
              } do |form| %>
  <div>
    <%= form.label :sort, "Sort by" %>
    <%= form.select :sort, pull_request_sort_select_options(selected: @sort) %>
  </div>
  <div>
    <%= form.label :sort, "Direction" %>
    <%= form.select :order,
                    options_for_select([["Ascending", "asc"],
                                        ["Descending", "desc"],
                                        ], @order) %>
  </div>

  <% if false %>
  <div>
    <%= form.label :category_filters, "Categories" %>
    <%= form.select :category_filters,
                    options_from_collection_for_select(Category.all, :id, :pretty_name),
                    {multiple: true},
                    { 'multiselect-select-all': "true"} %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "pull-requests-index", class:"pull-requests-index" do %>
  <% @pull_requests.each do |pull_request| %>
    <%= turbo_frame_tag pull_request, src: pull_request_path(pull_request),
                        loading: :lazy, refresh: "morph",
                        class: "pull-request-container" do %>
      <div class="pull-request-box">
        <div class="pull-request-info">
        </div>
        <div class="pull-request-annotations">
        </div>
        <div class="pull-request-notes">
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
